* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  margin: 0px auto;
}

.card {
  margin: 0 auto;
  margin-top: 40px;
  width: 40%;
  height: fit-content;
  float: none;
  margin-bottom: 10px;
}
